In [11]:
# Importaciones
import pandas as pd

In [14]:
df = pd.read_csv("propileno.csv")
df

          Fecha  Precio
0    2024-11-25  7467.0
1    2024-11-26  7479.0
2    2024-11-27  7481.0
3    2024-11-28  7482.0
4    2024-11-29  7475.0
..          ...     ...
235  2025-11-14  6490.0
236  2025-11-17  6465.0
237  2025-11-18  6427.0
238  2025-11-19  6422.0
239  2025-11-20  6396.0

[240 rows x 2 columns]